




@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="product_summary.html"><img src="~/themes/images/ico-cart.png" alt="cart"> Sepetiniz  <span class="badge badge-warning pull-right">$155.00</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{int sayac = 0; }
        @foreach (var item in Model.anaKategoriListesi)
        {
            if (sayac == 0)
            {
                <li class="subMenu open">
                    <a>@item.kategoriadi</a>
                    <ul>
                        @foreach (var item2 in Model.altkategorilistesi)
                        {

                            if (@item2.anakategoriId == @item.kategoriId)
                            {
                                <li><a href="/Home/products/@item2.kategoriId" +@item.kategoriid+""><i class="icon-chevron-right"></i>@item2.kategoriadi</a></li>

                            }

                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="subMenu">
                    <a>@item.kategoriadi</a>
                    <ul style="display:none">
                        @foreach (var item2 in Model.altkategorilistesi)
                        {
                            if (@item2.anakategoriId == @item.kategoriId)
                            {
                                <li><a href="/Home/products/@item2.kategoriId" +@item.kategoriid+""><i class="icon-chevron-right"></i>@item2.kategoriadi</a></li>

                            }

                        }

                    </ul>
                </li>
            }

            sayac++;
        }
        @*<li class="subMenu open">
                <a>BİLGİSAYARLAR</a> @*Bu kısımda BİLGİSAYARLAR yazısının yanına kaç tane ürün varsa onu belirticek şekilde numara koyucaz
                <ul>
                    <li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Masaüstü</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Laptop</a></li>
                </ul>
            </li>

            <li class="subMenu">
                <a>TELEFONLAR</a>
                <ul style="display:none">
                    <li>  @Html.ActionLink("Akıllı Telefonlar", "products", "Home") </li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Cep Telefonları</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Sabit Telefonlar</a></li>

                </ul>
            </li>
            <li class="subMenu">
                <a>TABLETLER</a>
                <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Android Tabletler</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Windows Tabletler</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>İOS Tabletler</a></li>
                </ul>
            </li>
            <li class="subMenu">
                <a>AKSESUARLAR</a>
                <ul style="display:none">
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Bilgisayar Aksesuarları</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Telefon Aksesuarları</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Tablet Aksesuarları</a></li>
                </ul>
            </li>*@

    </ul>
    <br />
    <h4>Günün Ürünleri</h4>
    @foreach (var item in Model.gununurunleri)
    {
        <div class="thumbnail">
            @*Bu kısımda olan Thumbnailları resim olarak db den çekicez *@
            <a href="/Home/productsdetay/@item.urunId "><img src="data:image/png;base64,@System.Convert.ToBase64String(item.urunresim)" width="270" height="378" alt="" /></a>
            <div class="caption">
                <h5>@item.urunadi</h5>
                <h4 style="text-align:center"><a class="btn" href="/Home/productsdetay/@item.urunId"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">EKLE <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#"><h7>@item.urunfiyat ₺</h7></a></h4>
            </div>
        </div><br />


    }
    <div class="thumbnail">
        <img src="~/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>
</div>










<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active"> SHOPPING CART</li>
                </ul>
                <h3>  SHOPPING CART [ <small>3 Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
                <hr class="soft" />
                <table class="table table-bordered">
                    <tr><th> I AM ALREADY REGISTERED  </th></tr>
                    <tr>
                        <td>
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputUsername">Username</label>
                                    <div class="controls">
                                        <input type="text" id="inputUsername" placeholder="Username">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword1">Password</label>
                                    <div class="controls">
                                        <input type="password" id="inputPassword1" placeholder="Password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn">Sign in</button> OR <a href="register.html" class="btn">Register Now!</a>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <a href="forgetpass.html" style="text-decoration:underline">Forgot password ?</a>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Quantity/Update</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Tax</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <img width="60" src="themes/images/products/4.jpg" alt="" /></td>
                            <td>MASSA AST<br />Color : black, Material : metal</td>
                            <td>
                                <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
                            </td>
                            <td>$120.00</td>
                            <td>$25.00</td>
                            <td>$15.00</td>
                            <td>$110.00</td>
                        </tr>
                        <tr>
                            <td> <img width="60" src="themes/images/products/8.jpg" alt="" /></td>
                            <td>MASSA AST<br />Color : black, Material : metal</td>
                            <td>
                                <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
                            </td>
                            <td>$7.00</td>
                            <td>--</td>
                            <td>$1.00</td>
                            <td>$8.00</td>
                        </tr>
                        <tr>
                            <td> <img width="60" src="themes/images/products/3.jpg" alt="" /></td>
                            <td>MASSA AST<br />Color : black, Material : metal</td>
                            <td>
                                <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
                            </td>
                            <td>$120.00</td>
                            <td>$25.00</td>
                            <td>$15.00</td>
                            <td>$110.00</td>
                        </tr>

                        <tr>
                            <td colspan="6" style="text-align:right">Total Price:	</td>
                            <td> $228.00</td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align:right">Total Discount:	</td>
                            <td> $50.00</td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align:right">Total Tax:	</td>
                            <td> $31.00</td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align:right"><strong>TOTAL ($228 - $50 + $31) =</strong></td>
                            <td class="label label-important" style="display:block"> <strong> $155.00 </strong></td>
                        </tr>
                    </tbody>
                </table>


                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <form class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label"><strong> VOUCHERS CODE: </strong> </label>
                                        <div class="controls">
                                            <input type="text" class="input-medium" placeholder="CODE">
                                            <button type="submit" class="btn"> ADD </button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <table class="table table-bordered">
                    <tr><th>ESTIMATE YOUR SHIPPING </th></tr>
                    <tr>
                        <td>
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputCountry">Country </label>
                                    <div class="controls">
                                        <input type="text" id="inputCountry" placeholder="Country">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPost">Post Code/ Zipcode </label>
                                    <div class="controls">
                                        <input type="text" id="inputPost" placeholder="Postcode">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn">ESTIMATE </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
                <a href="products.html" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
                <a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>

            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->
